html, body {
	background-color: #EFEFEF;
	margin: 0;
	padding: 0;
    cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur270.cur), progress !important;
}
.header h1:hover{
    color: #000000;
}
.header {
	position: absolute;
    height: 100px;
    width: 700px;
    left: 153px;
    top: 33px;
}
.header p {
	/* Hello I’m: */
	font-family: Courier;
    font-size: 30px;
    color: #000000;
    line-height: 14px;
    position: absolute;
}
.header h1 {
	/* Rochelle  shen: */
	top: 31px;
    position: absolute;
    font-family: bebasregular;
    font-size: 70px;
    color: #96DDD2;
    letter-spacing: 10px;
    line-height: 14px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.50);
}
.terminal {
	position: absolute;
    left: 297px;
    top: 217px;
    width: 622px;
    height: 402px;
}
.top-text {
	/* > I am going to be a: */
	position: absolute;
    font-family: Courier;
    font-size: 22px;
    color: #000000;
    line-height: 27px;
    top: 15px;
    left: 11px;
}
strong {
    color: #96DDD2;
}
#second {
	top: 48px;
    position: absolute;
}
#three {
	position: absolute;
	top: 128px;
}
#four {
	position: absolute;
    top: 215px;
}
#auto-type{
	display: inline-block;
}
#move {
    position: absolute;
    top: 235px;
    left: 24px;
}
.final-icons {
	position: absolute;
    right: 12px;
    height: 300px;
    width: 84px;
}
.icons {
	z-index: 2;
    position: absolute;
    width: 52px;
    height: 300px;
}
#back {
	width: 68px;
    z-index: 1;
}
#logo {
    position: absolute;
    height: 54px;
    width: 63px;
    top: 99px;
    left: 731px;
    transform: rotate(999.9deg);
}
#fb {
	width: 26px;
    right: 4px;
    position: absolute;
    top: 6px;
}

#insta {
	position: absolute;
    width: 40px;
    right: -2px;
    top: 62px;
}
#in {
	position: absolute;
    width: 35px;
    right: 1px;
    top: 113px;
}
#mail {
	position: absolute;
    width: 45px;
    top: 167px;
    right: -4px;
}
#hub {
	position: absolute;
    width: 47px;
    top: 218px;
    right: -6px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
