
#boxedsub {
    font-family: 'Avenir Next';
    color: #9FD9F5;
    font-size: 20px;
    text-align: center;
}

.empty {
    height: 220px;
}

#pretitle {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #9FD9F5;
    letter-spacing: 1px;
    display: inline-block;
}

#pre {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #9FD9F5;
    letter-spacing: 1px;
    display: inline-block;
    width: 50%;
}


#boxed {
    font-family: 'Avenir Next';
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

#title {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    letter-spacing: 1px;
    display: inline-block;
}


#overview {
    padding-bottom: 20px;
}


#overview img {
    vertical-align: middle;
    width: 10%;
}

#b {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

button {
    border: 2px solid #9FD9F5; 
    border-radius: 5px;
    background: none;
    color: #9FD9F5;
    padding: 10px 45px 10px 30px;
    overflow: hidden;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    transition: all 100ms ease;
    font-family: 'AvenirNext-Medium';
    letter-spacing: 1px;

}

button:after {
    font-family: FontAwesome;
    content: "\f061";
    position: absolute;
    top:13px;
    right: -30px;
    transition: all 200ms ease;
}

button:hover:after {
    right: 20px;
    color: black;
}

button:hover {
    background: #9FD9F5;
    border: none;
    color: black;
}


#partext {
    width: 100%;
    padding-bottom: 30px;
}

#centerleft {
    width: 50%;
    margin: 0 auto;
}

#dimg img{
    padding: 10px;
    padding-bottom: 30px;
    width: 20%;
}

#illustrate {
    text-align: center;
    font-family: 'AvenirNext-Medium';
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 0;
}

#bluelink{
    text-decoration: none;
    color: #9FD9F5;}      /* unvisited link */  
    #bluelink:visited {color:#9FD9F5;} /* visited link */
    #bluelink:hover {color:#000000;}  /* mouse over link */
    #bluelink:active {color:#9FD9F5;
}