@media screen and (max-width: 1200px) {
    #menu {
        position: fixed;
        width: 5%;
        right: 20px;
        top: 20px;
        z-index: 9;
    }
    
    #logo {
        width: 8%;
        left: 9px;
        top: 10px;
        z-index: 99;
    }
    
    #clip1, #clip2, #clip3 {
        margin: 2%;
        padding: 0.8%;
        height: 410px;
        border-radius: 25px;
        border: 2px solid #9FD9F5;
    }

    #clip1, #clip2, #clip3{
        font-size: 23px;
        text-align: center;
    }
    
    .clipstyle li {
        font-size: 17px;
    }
    
    #clip1 img{
        width: 10%;
    }
    #clip2 img {
        width: 14%;
    }

    #clip3 img {
        width: 13%;
    }
    
    #s1 figcaption p, #s2 figcaption p, #s3 figcaption p,
    #s4 figcaption p, #s5 figcaption p, #s6 figcaption p{
        font-size: 49px;
    }
    
    #s1:hover figcaption p, #s2:hover figcaption p, #s3:hover figcaption p,
    #s4:hover figcaption p, #s5:hover figcaption p, #s6:hover figcaption p{
        -moz-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(20px);
    }
    
    #allC img {
        width: 15%;
    }
    
    #a1 img {
        width: 64%;
    }
    
    #threeicons img {
        width: 11%;
    }
    
    #arrow img{
        width: 4%;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
    
    #overview img {
        vertical-align: middle;
        width: 11%;
    }
    
}

@media screen and (max-width: 750px) {
    
    #logo {
        width: 11%;
        left: 9px;
        top: 10px;
        z-index: 99;
    }
    
    #menu {
        position: fixed;
        width: 6%;
        right: 20px;
        top: 18px;
        z-index: 9;
    }
    
    
    #clip1, #clip2, #clip3 {
        height: 360px;
    }

    #clip1, #clip2, #clip3{
        font-size: 20px;
        text-align: center;
    }
    
    .clipstyle li {
        font-size: 14px;
    }
    
    #clip1 img{
        width: 12%;
    }
    #clip2 img {
        width: 16%;
    }

    #clip3 img {
        width: 16%;
    }
    
    #s1 figcaption p, #s2 figcaption p, #s3 figcaption p,
    #s4 figcaption p, #s5 figcaption p, #s6 figcaption p{
        font-size: 37px;
    }
    
    #s1:hover figcaption p, #s2:hover figcaption p, #s3:hover figcaption p,
    #s4:hover figcaption p, #s5:hover figcaption p, #s6:hover figcaption p{
        -moz-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(20px);
    }
    
    #a1 img {
        width: 82%;
    }
    
    #arrow img{
        width: 5%;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
    
    #overview img {
        vertical-align: middle;
        width: 13%;
    }
    
}

@media screen and (max-width: 565px) {
    #menu {
        position: fixed;
        width: 6%;
        right: 20px;
        top: 16px;
        z-index: 9;
    }
    
    #clip1, #clip2, #clip3 {
        height: 320px;
    }

    #clip1, #clip2, #clip3{
        font-size: 15px;
        text-align: center;
    }
    
    .clipstyle li {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    
    #clip1 img{
        width: 14%;
    }
    #clip2 img {
        width: 18%;
    }

    #clip3 img {
        width: 18%;
    }
    
    #s1 figcaption p, #s2 figcaption p, #s3 figcaption p,
    #s4 figcaption p, #s5 figcaption p, #s6 figcaption p{
        font-size: 23px;
    }
    
    #s1:hover figcaption p, #s2:hover figcaption p, #s3:hover figcaption p,
    #s4:hover figcaption p, #s5:hover figcaption p, #s6:hover figcaption p{
        -moz-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(20px);
    }
    
    #a1 img {
        width: 90%;
    }
    
    .header {
        text-align: center;
        color: white;
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    #arrow img{
        width: 6%;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
    
    #overview img {
        vertical-align: middle;
        width: 17%;
    }
}